.full-content {
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 5%;

}

.title-board {
    color: #CAAA00;
    background-color: #000000;
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    padding: 5px 8px;
}

.main-board {
    width: 50%;
    height: 100%;
}

.result-board {
    border: 0.5px solid black;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    background-color: #000000;
    font-size: 50px;
}

.history-board {
    background-color: #000000;
    color: white;
    width: 30%;
}

.calculating-board {
    display: grid;
    grid-template-areas:
    '. . . .'
    '. . . .'
    '. . . .'
    '. . . myArea'
    '. . . myArea'
    ;
    grid-gap: 1px;
    background-color: #000000;
}

.action-button {
    background-color: #202024;
    color: #A88F08;
    padding: 20px 0;
    text-align: center;
}

.angka-button {
    background-color: #2E2E2E;
    color: whitesmoke;
    padding: 20px 0;
    text-align: center;
}

.equal-button {
    background-color: #CAAA00;
    grid-area: myArea;
    padding: 40px 0;
    text-align: center;
}